global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alert.rules

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    ec2_sd_configs:
      - region: "ap-south-1"
        port: 9100
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Role]
        regex: "tools"
        action: keep
      - source_labels: [__meta_ec2_private_ip]
        regex: '(.*)'
        target_label: __address__
        replacement: '$1:9100'

  - job_name: 'alertmanager'
    ec2_sd_configs:
      - region: "ap-south-1"
        port: 9093
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Role]
        regex: "tools"
        action: keep
      - source_labels: [__meta_ec2_private_ip]
        regex: '(.*)'
        target_label: __address__
        replacement: '$1:9093'
